@import "tailwindcss";

:root {
  --background: #e0d69baf; 
  --foreground: #424242;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* The dark mode media query has been removed from here.
*/

/* src/app/globals.css */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
  width: 100%;        /* Ensure it takes full width */
}